<pre class="language-{{#if language}}{{language}}{{else}}java{{/if}} line-numbers" data-start="{{section.lineStart}}"><code>{{section.content}}</code></pre>
<div>
  <div class="code-gh-link pull-right">
    <a href="{{file.url}}#L{{section.lineStart}}">
      <i class="fa fa-github" aria-hidden="true"></i> View on GitHub
    </a>
  </div>
  <div class="clearfix"></div>
</div>
